@media only screen and (max-width: 800px) {

    .bg{ 
        background-image: url("festival.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: grid;
         
        
        
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 0.5fr 1fr 0.20fr 0.20fr ;
        }

   .header{background-color: black; 
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
padding-top: 10%;
font-size: 2rem;}

    .weareimd{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-align: center;}

   .text-weareimd{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;}
.qrr{grid-column-start: 1;
    grid-column-end: 3;}
    .qr{width: 60%; 
        padding-left:  20%;
        padding-top:  10%;
        padding-bottom:  10%;
        
    }
    

    
    .text-date{font-family: 'Roboto', sans-serif; font-size: 2rem; padding: 12%; padding-left: 35%; border-style: solid;}

    .text-one{font-family: 'Roboto', sans-serif;font-size: 2rem; padding: 12%; padding-left: 20%; border-style: solid;}

    .text-price{font-family: 'Roboto', sans-serif;font-size: 2rem; grid-column-start: 1; border-style: solid; grid-column-end: 3; padding-left: 40%; padding-top: 5%;}

    .text-grid{font-family: 'Roboto', sans-serif; display: none;}

    
    
}