@media only screen and (max-width: 800px) {

    .bg{ 
        background-image: url("festival.jpeg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: grid;
         
        
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 0.5fr 1fr 1fr 1fr ;
        }

   .header{background-color: black; 
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
padding-top: 10%;
font-size: 2rem;}

    .weareimd{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-align: center;}

   .text-weareimd{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;}
.qrr{grid-column-start: 1;
    grid-column-end: 3;}
    .qr{width: 60%; 
        padding-left:  20%;
        padding-top:  10%;
        
    
    }
    
    

  
    
    .text-date{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; ;}

    .text-one{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

    .text-price{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

    .text-grid{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

    
    
}